body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header,
footer {
  border: 1px solid #bbb;
  box-shadow: 5px 5px 15px 10px #a0a6aa;
  padding: 1rem;
  background-color: #5c3d6c;
  color: white;
}

header {
  align-items: center;
  justify-items: center;
}

.profile-pic img {
  max-width: 100%;
  height: auto;
  margin: 1em;
  box-shadow: 0 0 30px #5931d1;
}

footer {
  text-align: center;
}

.lasmod {
  color: aqua;
}

h1 {
  font-size: 2.5rem;
  margin: 0.15rem;
  font-family: 'New Tegomin', serif;
}

h2 {
  font-size: 1.5rem;
  color: #5c3d6c;
  font-family: 'New Tegomin', serif;
}